In [40]:
num1=100

In [41]:
num2=200

In [42]:
num1+num2

300

In [43]:
num1-num2

-100

In [44]:
num1*num2

20000

In [45]:
num1/num2

0.5

note: division will always result in floating point value everytime

10/3

In [46]:
10/3

3.3333333333333335

floor division

In [47]:
10//3

3

In [48]:
10//2

5

In [49]:
11/3

3.6666666666666665

In [50]:
11//3

3

floor division takes the lowest integer

In [51]:
-10//3

-4

In [52]:
13/2

6.5

In [53]:
13//2 #6<6.5

6

In [54]:
-13//2

-7

In [55]:
num3 = 344567890987654567890987655678909876523323213121321312321999999999999999999999994333333333333333333333888888888888888888888888888888888888888888888888888888888
print(type(num3))

<class 'int'>

# python -> interpreter -> python bytecode -> C compiler -> assembily -> linkage -> machine level -> machine 
Numeric literals allow optional underscores to help improve readability. we ususally use comas right but here with in number we can give underscores

In [56]:
speed_of_light = 299_792_458
print(speed_of_light, type(speed_of_light))

299792458 <class 'int'>

In [57]:
pi_value = 3.1415_9265_3546_793

print(pi_value, type(pi_value))

3.141592653546793 <class 'float'>


Modulo Operation % - remainder

In [58]:
13%2

1

  2) 13(6
     12
     ----
      1 ----> remainder

In [59]:
-13%2

1

In [60]:
13%-2

-1

In [61]:
-13%-2

-1

pow() operation
two types or operators supported: power operation **, pow

In [62]:
4 ** 2

16

In [63]:
64 ** (1/2)

8.0

In [64]:
pow(4,2)

16

In [65]:
pow(4,2,9)

7

if you give third value it will do modulo division pow(4,2,9) == (4**2)%9

Exponent Notation

In [66]:
1e1

10.0

1e1 = 1*10.0**1
3e2 = 3*10.0**2
-2.3e4 = -2.3 *10.0 **4

In [67]:
avogadro_num = 6.022_140_857e23
print((avogadro_num),type(avogadro_num))

6.022140857e+23 <class 'float'>

In [68]:
num6=3.12312333333333333333333333333333333333333333333333333333333333333333
num6

3.1231233333333335

In [69]:
speed_of_light = 3e8
print(speed_of_light)

300000000.0

Compound operators

+=-=*=/=%=
= assignment operator

In [70]:

myNumber = 123
print("myNumber = ", myNumber)

myNumber =  123

In [71]:
myNumber = myNumber +1
print("myNumber = ",myNumber)

myNumber =  124


In cases, where the same variable is present both the sides, then compound operations are valid.

In [72]:
myNumber += 1  # myNumber = myNumber + 1
print("myNumber = ", myNumber)

myNumber =  125

In [73]:
newNumber = 56
myNumber += newNumber + 1  # myNumber = myNumber + newNumber + 1
print("myNumber = ", myNumber)

myNumber =  182

In [74]:

myNumber -= 58  # myNumber = myNumber - 58
print("myNumber = ", myNumber)

myNumber =  124

In [75]:
myNumber *= 100  # myNumber = myNumber * 100
print("myNumber = ", myNumber)

myNumber =  12400

In [76]:
myNumber /= 10  # myNumber = myNumber / 10
print("myNumber = ", myNumber)

myNumber =  1240.0

In [77]:
myNumber %= 10  # myNumber = myNumber % 10
print("myNumber = ", myNumber)

myNumber =  0.0

NOTE: python doesn't support unary operations ; ++i, i++, --i, i--. It should used as i += 1, i -=1

###Bitwise Operations
Binary representation
        8 4 2 1 (2 to power of zero,one , two...)
   eg: 13 --->  1 1 0 1 # if you take 13, 13-8=5 that means you can take 8 so binary representation will be 1 next 5-4=1 you can take 4 also so 1 now 1-2 =-1 so here it is zero....
 #    7 ----> 0 1 1 1
 #   15 ----> 1 1 1 1

In [80]:

myNewNumber = 4
myNewNumber = myNewNumber << 1
print(myNewNumber)


#       8   4   2  1
# 4     0   1   0  0   = 0 * 8 + 1 * 4 + 0 * 2 + 0 * 1 = 4
# <<1   1   0   0  0   = 1 * 8 + 0 * 4 + 0 * 2 + 0 * 1 = 8

8

In [81]:
14 >> 1

#       8   4   2  1
#  14   1   1   1  0 = 1 * 8 + 1 * 4 + 1 * 2 = 14
# >>1   0   1   1  1 = 1 * 4 + 1 *2 + 1* 1 =  7
# >>2   0   0   1  1 =  3

7

In [82]:

14 >> 2

3

In [83]:

3 << 2

#         8 4 2 1
#  3      0 0 1 1
#  <<2    1 1 0 0  =>  12

12

In [84]:

10 << 4



#            128    64    32    16    8   4   2   1
#  10                                 1   0   1   0
#                                1    0   1   0          1st shift 
#                          1     0    1   0              2nd shift
#                    1     0     1    0                  3rd shift
#            1       0     1     0                       4th shift

160

In [85]:
 1350/20

67.5

In [86]:
1350%20

10